/*-------------------------------------------------*/
/* =  Client lists
/*-------------------------------------------------*/
section.client-list-section {
    background-repeat: no-repeat;
    background-position: center center no-repeat;
    background-image: url("../images/hero_1.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding: 100px 0 140px;
}
section.client-list-section .title-section {
  margin-bottom: 50px;
}
section.client-list-section .title-section h1 {
    margin-bottom: 0;
    padding-bottom: 0;
    font-weight: 200;
    color: #FFFFFF;
}
section.client-list-section .title-section h1:after {
  display: none;
}
section.client-list-section .client-list-box .item a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  opacity: 1;
  padding: 0;
  width: 100%;
  text-align: center;
  height: 120px;
  line-height: 120px;
  border: 1px solid transparent;
}
section.client-list-section .client-list-box .item a img {
    display: inline-block;
    /* [disabled]opacity: 1; */
}
section.client-list-section .client-list-box .item a:hover {
  opacity: 0.7;
}
section.client-list-section .owl-theme .owl-controls .owl-page span {
  margin: 2px;
  background: #8e8e92;
  border-color: transparent;
}
section.client-list-section .owl-theme .owl-controls {
  position: absolute;
  bottom: -60px;
  width: 100%;
  top: initial;
}
section.client-list-section .owl-theme .owl-buttons {
  display: none;
}
section.client-list-section .owl-theme .owl-controls .owl-page.active span,
section.client-list-section .owl-theme .owl-controls.clickable .owl-page:hover span {
  background-color: #FF0000;
  border-color: transparent;
}
